@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Otomanopee+One&display=swap");
body {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0px;

  font-size: 22px;
}

.zcolor {
  color: darkorchid;
}
.s-flex {
  display: flex;
  margin-bottom: 50px;
}
.halfw {
  width: 50%;
  padding: 5%;
}
.halfw img {
  width: 70%;
}
.lin {
  text-decoration: none;
  background-image: linear-gradient(red, rgb(206, 255, 71));
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}
.mm {
  background-image: url(images/uuu.png);
  background-repeat: no-repeat;
}
.color {
  color: darkorange;
}
.drembig {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.hhh {
  text-align: justify;
}
.linear {
  color: rgb(168, 255, 6);
}
.my-first {
  color: tomato;
}
.bord {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 1px 0px 7px 3px red;
  padding: 10px;
}
